@import '..templates/template.scss';
.searching-menu{
    @include menu(380, 374);
}
.searching-menu__title{
    height: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;    
}
.schedule{
    @include schedule();
}
.project__button {
    @extend %project__button;
}
.project__geometry {
    @extend %project__geometry;
}
input{
    outline: none;
}

