<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Календарь(сырой)
        link(rel="stylesheet" type="text/css" href="./style/calendar-form.css")
    body
        .calendar_table
            each name in ["Пн","Вт","Ср","Чт", "Пт", "Сб", "Вс"]
                .weekdays.row #{name}
            each name in ["29", "30", "31"]
                .calendar__month_previous.row #{name}
            -let n = 1;
            while n < 32
                .row= n++
        .calendar__footer
            .calendar__footer-clean очистить
            .calendar__footer-use применить     