doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Пагинация
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        .pagination
            .tableList#listingTable
            .pagination-block
                span.pageButton.outline-none#button_prev
                span.outline-none#page_number
                span.pageButton.outline-none#button_next
            .note 1 – 12 из 100+ вариантов аренды
        script(src="index.js")         