.wrapper{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100x;
    margin: 100px;
}
.frame{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(165, 7, 112);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heart{
    padding: 10px;
    cursor: pointer;
    width: 10px;
    color: grey;
}
.counter{
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: 10px;
}
.active{
    color: #7865ce;
}