<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Возможный вариант номера
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="./style/_example-appartament.css" type="text/css" rel="stylesheet")
    body
        .wrapper
            .image
            .fordownboard
                .downboard
                    .top_part
                        .numero_appartment
                            span.big_litterals № 888
                            span.type_appartment люкс
                        .cost_appartment 9 990₽ в сутки
                    .bottom_part
                        .item
                            .rating
                                input(type="radio" name="star" id="star1")
                                label(for="star1")
                                input(type="radio" name="star" id="star2")
                                label(for="star2")
                                input(type="radio" name="star" id="star3")
                                label(for="star3")
                                input(type="radio" name="star" id="star4")
                                label(for="star4")
                                input(type="radio" name="star" id="star5")
                                label(for="star5")
                        .item
                            .amount_reviews 145 Отзывов