@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Customize the label (the container) */
*{
    font-family: Montserrat;
    font-style: normal;
}
/* The container */
.container {
    /* display: block; */
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-left: 20px;
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #BC9CFF;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #8BA4F9;
}
