<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Меню бронирования
        link(rel="stylesheet" type="text/css" href="./booking.css")
    body
        include ../templates/template.pug
        .booking-menu
            //-Первая строчка меню
            .booking-menu__title.project__geometry
                span.booking-menu__title-one №888
                span.booking-menu__title-two люкс
                span.booking-menu__title-three 9900Р в сутки
            //-Выбор даты въезда и выезда
            .schedule.project__geometry.project__geometry
                .schedule__arriving
                    +workPlate('ВЪЕЗД', 'ДД.ММ.ГГГГ')        
                .schedule__departure
                    +workPlate('ВЫЕЗД', 'ДД.ММ.ГГГГ')       
            //-Выбор количества гостей
            .guests.project__geometry
                +workPlate('ГОСТИ', 'Сколько гостей', 'guests_size-big')
            //-Отображение рассчетов по услугам
            ul.booking-menu__calculation.project__geometry
                li 9 990₽ х 4 суток <span class="area">39 960₽</span>
                li Сбор за услуги: скидка 2 179₽ <span class="area">0₽</span>
                li Сбор за дополнительные услуги <span class="area">300₽</span>
            //-Отображение итоговой суммы
            .booking-menu__total.project__geometry
               |Итого<span class="value">38081R</span>
            //-Стандартная кнопка "Забронировать"   
            button.project__button.project__geometry забронировать