@import '..templates/template.scss';
.entrance-menu{
    @include menu(380, 358);
}
.entrance-menu__header{
    width: 320px;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    color: #1F2041;
}
.entrance-menu__footer{
    width: 320px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.entrance-menu__account{
    font-size: 14px;
    padding-top: 10px;/*От балды*/
}
.entrance-menu__enter{
    width: 99px;
    height: 44px;
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    font-weight: bold;
    font-size: 12px;
    color: #BC9CFF;
    font-family: Montserrat;
    background-color: #FFFFFF;
    &:hover {
        background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
        cursor: pointer;
    }
}
.project__button {
    @extend %project__button;
}
.project__geometry {
    @extend %project__geometry;
}
input {
    outline: none;
}
