<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Меню входа
        link(rel="stylesheet" type="text/css" href="./entrance.css")
    body
        .entrance-menu
            include ..templates/template.pug    
            //-Надпись "Войти"
            .entrance-menu__header.project__geometry Войти
            //-Здесь вводят Email и пароль
            .workfield.project__geometry
                +workField("Email", "Пароль")
            //-Стандартная кнопка "Войти"
            button.project__button.project__geometry войти
            //-Альтернативная кнопка "Войти"
            .entrance-menu__footer
                .entrance-menu__account Уже есть аккаунт на Toxin
                button.entrance-menu__enter войти