@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.wrapper{
    margin-left: 140px;
    margin-right: 140px;
}
.header{
    width: 1440px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
}
.list{
    list-style-type: none;
    display: flex;
}
.list::before{
    content: url(./TOXIN.png);
}
a{
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);  
}
a:visited {
    color: #800080; /* Цвет посещённой ссылки */
} 
a:hover {
    color: #800000;  
    text-decoration: underline; 
}
.item_menu{
    margin-right: 20px;
}

.about_us{
    color: rgba(23, 29, 212, 0.75);
    font-weight: bold;
}
.services{
    margin-left: 50px;
    margin-right: 50px;
}
.services::after{
    content: url(./expand_more.png);
}
.agreements::after{
    content: url(./expand_more.png);
}
.button_registration{
    width: 196px;
    height: 34px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 12px;
    border: none;
}
.button_enter{
    width: 87px;
    height: 34px;
    border-radius: 22px;
    border: 2px solid #BC9CFF;
    font-weight: bold;
    font-size: 12px;
    color: #BC9CFF;
    font-family: Montserrat;
    background-color: #FFFFFF;
}
.button_registration:hover{
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    cursor: pointer;
}
.button_enter:hover{
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    cursor: pointer;
}